/********** 
**RESET 
***********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

ul {
    list-style: none;
}


/********** 
**UTILITIES
***********/

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
}

.text-center {
    text-align: center;
}



/* Margin */
.m-2 {
    margin: 20px;
}

.m-3 {
    margin: 30px;
}

.my-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* FLEX */
.d-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}   